*{ padding: 0; margin: 0; border: 0;}
*,*:before,*::after{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
:focus,:active{outline: none;}
a:footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*________________________________________*/


@font-face {
    font-family: "Playfair Display";
    font-weight: 700;
    src: url(../fonts/NoeDisplay/NoeDisplay-Bold.woff2);
}
@font-face {
    font-family: "Noe Display";
    font-weight: 700;
    src: url(../fonts/NoeDisplay/NoeDisplay-Bold.woff2);
}
@font-face {
    font-family: "Larsseit";
    font-weight: 700;
    src: url(../fonts/Larsseit/Larsseit-Bold.woff2);
}
@font-face {
    font-family: "Larsseit";
    font-weight: 400;
    src: url(../fonts/Larsseit/Larsseit.woff2);
}
@font-face {
    font-family: "Larsseit";
    font-weight: 300;
    src: url(../fonts/Larsseit/Larsseit-Light.woff2);
}

body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #011627;
    font-family: "Larsseit";
    color: #FFFFFF;
}
.body{
    width: 1920px;
    margin: 0 auto;
}
.bodyHome {
    position: relative;
    width: 100%px;

}

.twitLink{
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(../img/twit_ikon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.instLink{
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(../img/instagram_ikon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.FbooktLink{
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(../img/fbook_ikon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.boldText{
    font-family: Larsseit;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
h2{
    font-family: Noe Display;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.lightsBackground{
    z-index: 1;
    position: absolute;
    height: 3463px;
    width: 100%;
    background-image: url(../img/bg_lights.png);
}
.homeBackgroundShadow{
    z-index: 1;
    position: absolute;
    height: 2983px;
    width: 100%;
    background-image: url(../img/image_bg.png);
}