.top{
    height: 1194px;
    width: 100%;
}
.topBackground{
    height: 1282px;
    width: 100%;
    background-image: url("../img/top_background.png");
    position: absolute;
    z-index: 1;
    top: -88px;
}

/*___nav___________*/

.topNav{
    position: relative;
    z-index: 2;
    height: 295px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navLogo{
    height: 100%;
    width: 50%;
}
.navLogo a{
    display: block;
    position: absolute;
    z-index: 3;
    margin: 75px auto auto 250px;
    height: 68px;
    width: 60px;
    background-image: url("../img/NT_ikon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navLinks{
    height: 100%;
    width: 250px;
    margin: 0 249px 0 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navSearch{
    display: block;
    z-index: 3;
    height: 24px;
    width: 24px;
    background-image: url("../img/search_ikon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navMenu{
    z-index: 3;
    height: 62px;
    width: 167px;
    background: #00C9E0;
    box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
    border-radius: 48px;
    font-family: Larsseit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
}
.navMenu::after{
    content: "";
    display: block;
    height: 2px;
    width: 30px;
    border: 1px solid #FFFFFF;
    position: absolute;
    margin: -10px auto auto 151px;
}
/*___nav_end_______*/

/*___Text__________*/
.topText{
    position: relative;
    z-index: 4;
    height: 522px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.topHeading{
    font-family: Noe Display;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 153px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.subHeading{
    text-transform: uppercase;
}
.boldText{
    font-family: Larsseit;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.topTextContent{
    font-family: Larsseit;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    width: 645px;
}
/*___text_end__________*/

/*___ soc______________*/
.topSoc{
    height: 377px;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.topsocbackground{
    height: 377px;
    width: 100%;
    position:absolute;
    z-index: 2;
    background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%);
}
.socSkroll{
    z-index: 3;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    padding: 0px 236px;
}
.socSkroll p{
    transform: rotate(-90deg);
    height: 30px;
    width: 60px;
    font-family: Larsseit;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 190%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.9;
}
.socSkroll p::before{
    content: "";
    display: block;
    height: 2px;
    width: 80px;
    background: linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
    border-radius: 13px;
    position: absolute;
    margin: 10px auto auto -100px;
}
.socLinks{
    height: 100%;
    width: 50%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-end;
    padding: 0 250px;
}
.socLinks div{
    height: 24px;
    width: 24px;
    margin: 22px 0px;
}
.socTwit a{
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(../img/twit_ikon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.socInst a{
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(../img/instagram_ikon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.socFbook a{
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(../img/fbook_ikon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*___soc_end___________*/